body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.main-header,
.slide-container {
  background-color: #eeeeee;
}

/* Header */

.main-header {
  margin-bottom: 0;
  padding-top: 50px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.site-navigation {
  width: 440px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  list-style: none;
}

.cart {
  margin: 0;
  padding: 0;

  list-style: none;
  margin-left: auto;
}

.site-navigation a,
.cart a {
  color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Slider */

.slide-container {
  margin: 0;
  padding: 0;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  margin: 0;
  padding-top: 80px;
}

/* Main */
  /* Features */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.features {
  display: flex;

  margin: 0;
  padding: 0;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;
  margin-right: 100px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

  /* About-us */

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.column-left {
  width: 660px;
  padding-top: 80px;
}

.column-right {
  width: 360px;
  padding-top: 40px;
}

.about-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  padding-bottom: 50px;
}

.custom-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.percent-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;

  padding: 0;
  margin: 0;

  display: flex;

  list-style: none;
}

.percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.partners {
  display: flex;
  justify-content: space-between;
}

/* Catalog */

.container-title {
  background-color: #eeeeee;
}

.title-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.catalog-columns {
  display: flex;
}

.filters {
  display: flex;
  flex-direction: column;

  width: 260px;
}

.catalog-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 800px;
  padding: 0;
  margin-left: auto;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 760px;
}

.sorting-list {
  display: flex;
  width: 360px;
}

.sorting-item {
  padding: 0;
  margin-right: 28px;
}

.catalog {
  width: 760px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;

  margin: 0;
  padding: 75px 0 115px 0;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.cost {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter ul {
  font-size: 16px;
  line-height: 20px;

  list-style: none;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.btn-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  text-transform: uppercase;

  background-color: #eeeeee;
}

.btn-filter:hover {
  background-color: #dfdfdf;
}

.btn-filter:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.sorting h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting ul {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.sorting a {
  color: #000000;
  opacity: 0.3;
}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active,
.active a {
  opacity: 1;
}

.catalog ul {
  font-size: 16px;
  line-height: 18px;
  color: #666666;

  list-style: none;
}

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item a {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

/* Footer */

.main-footer {
  width: 1440px;
  margin: 85px auto 0 auto;
}

.footer-bottom {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
}

.footer-social {
  width: 260px;
  margin-right: 140px;
}

.footer-slogan {
  width: 560px;
}

.main-footer h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.map p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.btn-write,
.btn-send {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.footer-social ul {
  list-style: none;
}

.footer-slogan b{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-slogan p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

/* Modal */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.write-us input[type="text"],
.write-us textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  border: 2px solid #d7dcde;
}

.write-us input:hover,
.write-us textarea:hover {
  border-color: #444444;
}

.write-us input:focus,
.write-us textarea:focus {
  border-color: #000000;
}

.write-us input:invalid {
  color: #e74246;
  border-color: #e74246;
}
